<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
 
    
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>About Us</title>

    <!-- style Starts Here -->
    <style>
        #mob
        {
            display: none;
        }
        #titles
        {
            background-image: url("https://cutewallpaper.org/21/real-estate-wallpaper-backgrounds/Background-Image-Real-Estate-Background-Png-PNG-Image-.png");
           
        }
        body
        {
            font-family: "Open Sans", Arial, sans-serif;
            color: "#777";
            font-family: "Open Sans", Arial, sans-serif;
            font-size: 14px;
            line-height: 26px;
        }

        .mytext
        {
            color: #000;
        }

        @media only screen and (max-width: 600px) {
            .topmargin{
                margin-top: 5%;
            }

            #mob
            {
            display: block;
            }

            
        
        
        }
       
    </style>
  </head>
  <body>

    <!-- navigation bar starts here -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="padding: 1%;">
    <div class="container">
        <h5>
        <a class="navbar-brand " href="#">
            <img src="{{ url_for('static', filename='Snapseed.jpg') }}" width=20;height:50;  class="d-inline-block align-top" alt="">
            <b>Forex Aggregator</b>
        </a>
        </h5>  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav " style="font-size: large;">
            <li class="nav-item active  ml-3"   >
                 <a class="nav-link" href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Home <span class="sr-only">(current)</span></a>            
            </li>
            
            
            
            <li class="nav-item active ml-3">
            <a class="nav-link" href="aboutus"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>&nbsp;About</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
<!-- Navigation Bar Ends Here -->
<div class=" col-md-12 " style="padding: 3%;"  id="titles">
        <div class="container">
            <br>
        <h1 class="text-dark" style="line-height: 1;font-weight: 10;">
        
           <b style="color:#607d8b;"> Who We Are </b>
        </h1>
        <br><br>
        <div id="mob"><br><br></div>
    </div>
    </div>
    
        
    <br>


    <div class="container">
        <div class="row">
            <div class="col-md-9 " style="color:#777;">
                
                <!-- paragraph 1 -->
                <p class="lead mb-4" style="line-height:1.8 rem;font-weight: 10;">
                    Founded in 1999 by John Doe, gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat.
                </p>
                <br>
                <div class="row">
                    <!-- paragraph 2 -->
                    <div class="col-md-6" >
                        Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat.

                        Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                    </div>

                    <!-- building image -->
                    <div class="col-md-6 topmargin">
                        <img src="https://portotheme.com/html/porto/7.5.0/img/demos/real-estate/agency.jpg" class="img-fluid" alt="Responsive image">
                    </div>

                    <!-- paragraph 3 -->
                    <div class="col-md-12 topmargin" >
                        Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat.

                        Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                    </div>
                </div>
                <br> <br>
                <!-- vision mission and values -->
                <div class="row">
                    <div class="col-md-4" >
                        <h5 class="card-title mytext" style="background-color: #212529;color:white;padding: 3%;"><i class="fa fa-rocket fa-fw" aria-hidden="true"></i>&nbsp; Our Mission</h5>
                        <p class="card-text ">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>    
                    </div>
                    <div class=" col-md-4 topmargin" >
                        <h5 class="card-title mytext"  style="background-color: #212529;color:white;padding: 3%;"><i class="fa fa-compass fa-fw" aria-hidden="true"></i>&nbsp;Our Vision</h5>
                        <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    
                    <div class=" col-md-4 topmargin" >
                       
                        <h5 class="card-title mytext"  style="background-color: #212529;color:white;padding: 3%;"><i class="fa fa-handshake fa-fw" aria-hidden="true"></i>&nbsp;Our Values</h5>
                        <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div> 
            <!-- email card -->
            <div class="col-md-3 " >
                <div class="card topmargin" >
                    <h5 class="card-title bg-dark" style="padding: 3%;color:white"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i>&nbsp;Get In Touch</h5>
                    <div class="card-body" >
                    
                    <br>
                    <input type="text" class="col-md-12" placeholder="Your Name*">
                    <br><br>
                    <input type="text" class="col-md-12" placeholder="Your Email*">
                        <br><br>
                        <button type="button" class="btn btn-dark col-md-12 " style="margin-top: 1%;">Send&nbsp;&nbsp;&nbsp;<i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>
<!-- footer -->
<div  style="padding: 1%;background-color: #212529;">
    <div class="container">
        <div class="row">
            
            <div class="col-md-4" >     
                <h5 class="card-title text-white"><i class="fa fa-industry fa-fw" aria-hidden="true"></i>&nbsp;Forex Aggregator</h5>
                <div class="text-muted" style="color:whitesmoke;text-decoration:none;">
               
                <a style="color: inherit;" href="tel:+91-9762636489">Phn: (+91)-9762636489</a> <br>
                <a style="color: inherit;" href="mailto:sumurkute@mitaoe.ac.in">murkute.swapnil12@gmail.com</a>
                </div>
            </div>
           
            <div class=" col-md-4 " >
                <h5 class="card-title text-white"><i class="fa fa-link fa-fw" aria-hidden="true"></i>&nbsp;Links</h5>
                <a href=""><i class="fab fa-linkedin-in"></i></a>&nbsp;&nbsp;&nbsp;<a href=""><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href=""><i class="fab fa-facebook"></i>&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href=""><i class="fab fa-github"></i></a><br>  
                <div class="text-muted" style="color:whitesmoke;text-decoration:none;">
                </div>   
            </div>
            <div class=" col-md-4 " >
                <h5 class="card-title text-white"><i class="fa fa-newspaper fa-fw" aria-hidden="true"></i>&nbsp;Latest News</h5>
                <div class="text-muted" style="color:whitesmoke;text-decoration:none;">
                    If you have any suggestions for the next updates<br>

                </div>              
            </div>
          
        </div>
        <br>
        <hr style="background-color:#777;">
        <center>
        <p class="text-muted">© Copyright 2020. All Rights Reserved.</p>
        </center>
    </div>
</div> 
<!-- Footer Bar Ends Here -->

   
  </body>
</html>